.mainActives {
  flex: 1;
  padding: 0px 40px;
}

.barTypeLoan {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btnAprove {
  padding: 10px;
  background: var(--green-200);
  border-radius: 8px;
  cursor: pointer;
  color: var(--green-600);
  font-weight: 400;
}

.btnAprove:hover {
  background: var(--green-300);
}

.btnReject {
  padding: 10px;
  background: var(--red-200);
  border-radius: 8px;
  cursor: pointer;
  color: var(--red-700);
  font-weight: 400;
}

.btnReject:hover {
  background: var(--red-300);
}

.btnCantity {
  padding: 10px;
  background: var(--blue-200);
  border-radius: 8px;
  cursor: pointer;
  color: var(--blue-600);
  font-weight: 400;
}

.btnCantity:hover {
  background: var(--blue-300);
}

.titleNodata {
  text-align: center;
  font-weight: 300;
  color: var(--white-400);
  font-size: 30px;
}

.imgNoData {
  filter: opacity(0.3);
}
