.cardRequest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
  background: var(--blue-50);
  border-radius: 16px;
  border: 1px solid transparent;
  gap: 20px;
  margin-top: 2em;
}

.cardRequest:hover {
  background: var(--blue-100);
}

.cardRequest:hover {
  border: 1px solid var(--blue-100);
}

.boxInfo {
  flex: 1;
}

.boxInfoActs {
  flex-basis: 400px;
  display: flex;
  justify-content: center;
}

.centerInfoActs {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
  justify-content: flex-end;
}

.centerInfoActs p {
  display: grid;
  place-content: center;
  padding: 5px 15px;
  border-radius: 8px;
  color: var(--blue-400);
  font-weight: 400;
  border: 1px solid transparent;
}

.centerInfoActs p:hover {
  background: var(--white-50);
  cursor: pointer;
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
  border: 1px solid var(--blue-100);
}

.user {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boxAvatarClient {
  display: grid;
  place-content: center;
}

.imgAvatar {
  object-fit: cover;
}

.perfilInfo {
  padding-top: 8px;
}

.linkPerfil {
  text-decoration: none;
  color: var(--blue-600);
  font-weight: 400;
}

.linkPerfil:hover {
  color: var(--blue-400);
}
