.cardRequest {
  background: var(--white-100);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 16px;
  border: 1px solid var(--white-200);
}

.cardRequest:hover {
  border: 1px solid var(--white-300);
}

.barDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.iconAvatar {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.previewDocs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.boxAvatar {
  display: grid;
  place-content: center;
}

.imgDocPrew {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btnsActions {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: space-between;
}

.BoxInfo {
  display: grid;
  place-content: center;
  background: var(--blue-100);
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid var(--white-300); */
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.BoxInfo:hover {
  background: var(--blue-200);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.boxIconInfo {
  display: grid;
  place-content: center;
}

.iconInfo {
  color: var(--blue-400);
}

.centerBoxInfo {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.textBtnDetails {
  color: var(--blue-300);
}

.BoxInfoAccept {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btnAccept {
  display: grid;
  place-content: center;
  background: var(--green-300);
  font-weight: 500;
  color: var(--green-800);
  padding: 8px 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.btnAccept:hover {
  background: var(--green-400);
}

.btnCancel {
  display: grid;
  place-content: center;
  background: var(--red-300);
  color: var(--white-50);
  font-weight: 500;
  padding: 8px 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.btnCancel:hover {
  background: var(--red-400);
}

.centerBoxInfoAccept p {
  display: grid;
  place-content: center;
}

.centerBoxInfo p {
  font-weight: 500;
  color: var(--blue-700);
}

.boxDetail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-weight: 600;
  color: var(--white-900);
}

.textDetail {
  color: var(--white-700);
}

.titleCantity {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.textCantity {
  text-align: center;
}

.barBtnsActios {
  display: grid;
  place-content: center;
}

.loadCantity {
  /* background: var(--white-200); */
  padding: 5px 10px;
  border-radius: 8px;
}
