@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  /* background: var(--white-100); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
}

.card:hover {
  background: var(--white-100);
}

.boxTitle {
  flex: 1;
}

.boxStatus {
  display: flex;
  flex-direction: row;
  background: var(--green-100);
  gap: 5px;
  padding: 5px 10px;
  border-radius: 8px;
}

.card:hover .boxStatus {
  background: var(--white-50);
}

.boxIconStatus {
  display: grid;
  place-content: center;
}

.textStatus {
  display: grid;
  place-content: center;
  font-weight: 500;
}

.iconLoader {
  animation: spin 1s linear infinite;
}
