.mainContainer {
  flex: 1;
  padding: 0px 40px;
}

.containerListUsers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnBack {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.boxIconBtnBack {
  display: grid;
  place-content: center;
}

.centerBtnBack {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.centerBtnBack:hover {
  background: var(--white-200);
}

.centerBtnBack p {
  display: grid;
  place-content: center;
}

.headerReq {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 1em;
}

.headerReq h1 {
  font-weight: 700;
}

.headerReq p {
  display: grid;
  place-content: center;
}

.containerLoads {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 40px;
}

.titleDate {
  color: var(--white-900);
  font-weight: 600;
}

.textDate {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boxIconTime {
  display: grid;
  place-content: center;
}

.boxtextClock {
  display: grid;
  place-content: center;
}

.iconClock {
  filter: drop-shadow(0px 0px 10px #383838);
}

@media screen and (max-width: 700px) {
  .mainContainer {
    padding: 0px 10px;
  }
}
