.mainMasive {
  /* flex: 1; */
  height: 100dvh;
  width: 100%;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
}

.boxSelect {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.centerBtnSelect {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.btnSelect {
  display: grid;
  place-content: center;
  padding: 10px 15px 10px 10px;
  background: var(--green-100);
  border-radius: 16px;
  /* border: 1px solid var(--white-200); */
  cursor: pointer;
}

.btnSelect:hover {
  scale: 1.01;
}

.btnSelectActive {
  display: grid;
  place-content: center;
  padding: 10px 15px 10px 10px;
  background: var(--green-200);
  border-radius: 16px;
}

.btnSelectActive:hover {
  scale: 1.01;
}

.boxIconSelect {
  display: grid;
  place-content: center;
  background: var(--green-400);
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--white-300);
}

.iconSelect {
  color: var(--green-800);
}

.textBtn {
  display: grid;
  place-content: center;
  color: var(--green-800);
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .mainMasive {
    padding: 0px 20px;
  }
}
