@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backButton {
  display: flex;
  justify-content: flex-start;
}

.centerBackBtn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px;
}

.centerBackBtn:hover {
  background: var(--white-100);
  cursor: pointer;
  border-radius: 8px;
}

.boxIconBack {
  display: grid;
  place-content: center;
}

.mainMail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 90dvh;
  max-height: 90dvh;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.containerDrop {
  margin-top: 1em;
}

.containerDropNo {
  margin-top: 10px;
}

.containerFilter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  padding: 0px 40px;
}

.boxMessage {
  flex: 1;
  background: var(--blue-100);
  padding: 20px 0px;
  border-radius: 8px;
  border: 1px solid var(--white-300);
}

.boxMessage:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.boxMessage p {
  display: grid;
  place-content: center;
}

.boxIconFile {
  display: grid;
  place-content: center;
}

.NameFile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.centerNameFile {
  display: flex;
  flex-direction: row;
}

.btnRemoveFile {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btnRemoveFile:hover {
  background: var(--white-100);
}

.btnRemoveFile p {
  display: grid;
  place-content: center;
  font-weight: 500;
  color: var(--white-700);
}

.boxIconTrash {
  display: grid;
  place-content: center;
}

.iconTrash {
  color: var(--red-400);
}

.boxBtnProc {
  display: grid;
  place-content: center;
  margin-top: 1em;
}

.btnProcess {
  padding: 10px 15px;
}

.containerMasiveMail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background: var(--green-50);
  cursor: pointer;
}

.boxAlerts {
  display: grid;
  place-content: center;
}

.containerMasiveMail:hover {
  background: var(--white-100);
}

.partMassive {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.iconOpenTool {
  display: grid;
  place-content: center;
}

.boxIconExcel {
  display: grid;
  place-content: center;
}

.barWhatsapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em;
  margin-top: 1em;
  padding: 15px;
  /* background: var(--white-100); */
  border-radius: 16px;
  gap: 30px;
  border: 1px solid var(--green-200);
}

.boxActionConnect {
  display: grid;
  place-content: center;
  width: 120px;
  height: auto;
}

.noNoxActionConnect {
  display: grid;
  place-content: center;
}

.boxTextBtn {
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: flex-end;
}

.btnGenerate {
  padding: 10px;
  color: var(--green-800);
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--green-200);
}

.btnGenerate:hover {
  background: var(--green-50);
  border: 1px solid var(--green-400);
}

.boxIconWhatsapp {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.boxIconWhatsappOk {
  display: grid;
  place-content: center;
}

.iconWhatsapp {
  color: var(--green-600);
  filter: drop-shadow(0px 0px 10px var(--white-600));
}

.iconLoader {
  color: var(--white-600);
  animation: spin 1s linear infinite;
}

.boxQrLoader {
  display: flex;
  flex-direction: column;
}

.boxQrOff {
  display: grid;
  place-content: center;
}

.noNormalCenterBar {
  display: flex;
  flex-direction: row;
}

.boxInfoSession {
  display: grid;
  place-content: center;
}

.iconCheck {
  color: var(--green-400);
}

/* .normalCenterBar {
  display: flex;
  flex-direction: row;
} */

@media screen and (max-width: 900px) {
  .boxActionConnect {
    flex: 1;
  }
}
