.headerReq {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 1em;
  position: sticky;
}

.headerReq h1 {
  font-weight: 700;
}

.headerReq p {
  display: grid;
  place-content: center;
}

.boxNoReqs {
  margin-top: 7em;
}

.containerLoads {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 40px;
}

.titleDate {
  color: var(--white-900);
  font-weight: 600;
}

.textDate {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boxIconTime {
  display: grid;
  place-content: center;
}

.boxtextClock {
  display: grid;
  place-content: center;
}

.iconClock {
  filter: drop-shadow(0px 0px 10px #383838);
}

.listLiveRequests {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.containerVoidReqss {
  min-height: 80dvh;
  display: grid;
  place-content: center;
}

.centerContainerVoidReqss {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.centerContainerVoidReqss p {
  color: var(--white-600);
  font-weight: 600;
  display: grid;
  place-content: center;
}

.boxRssIcon {
  display: grid;
  place-content: center;
}

.iconRss {
  color: var(--white-600);
}
