.cardUser {
  padding: 10px;
  border-radius: 16px;
  border: 1px solid transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  border: 1px solid transparent;
  /* background: var(--blue-50); */
  /* border-bottom: 1px solid var(--white-300); */

  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
  padding-bottom: 10px;
  cursor: pointer;
}

.cardUser:hover {
  background: var(--blue-50);
  border: 1px solid var(--blue-100);
}

.idBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.textId {
  font-size: 13px;
  font-weight: 300;
}

.boxAvatar {
  display: grid;
  place-content: center;
}

.avatar {
  filter: drop-shadow(0px 0px 10px #bbbbbb);
  object-fit: cover;
}

.textNameId {
  display: grid;
  place-content: center;
  margin-right: 1em;
}

.textNameId h2 {
  font-weight: 400;
  color: var(--white-800);
}

.infoUser {
  display: grid;
  place-content: center;
}

.optionsBox {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.boxIconOption {
  display: grid;
  place-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--blue-50);
  border: 1px solid transparent;
}

.boxIconOption:hover {
  background: var(--white-50);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.iconOption {
  color: var(--white-500);
}

.iconOption:hover {
  filter: drop-shadow(0px 0px 10px #000000);
}

@media screen and (max-width: 700px) {
  .boxIconOption {
    border-radius: 8px;
  }
}
