.mainLoan {
  margin-top: 3em;
  width: 90%;
  margin-left: 5%;
}

.DateContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dateLoan {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.centerBoxImage .boxIconDate,
.dateLoan p {
  display: grid;
  place-content: center;
}

.barBack {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.centerBarBack {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px 10px;
  background: var(--white-100);
  border-radius: 8px;
  cursor: pointer;
}

.centerBarBack:hover {
  background: var(--white-200);
  border-radius: 8px;
}

.boxIcon {
  display: grid;
  place-content: center;
}

.iconArrow {
  color: var(--white-600);
}

.boxTitleLoan {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 1em;
}

.infoVerify {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 8px;
}

.boxVerify {
  flex-basis: content;
}

.boxVerifyPic {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.boxImageDocVery {
  padding: 20px;
  border-radius: 16px;
  background: var(--green-100);
}

.imgDocVery {
  width: 300px;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.listBtns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btnAprove {
  display: grid;
  place-content: center;
  background: var(--green-100);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  color: var(--white-500);
}

.btnAprove:hover {
  background: var(--green-400);
  color: var(--green-50);
}

.btnReject {
  display: grid;
  place-content: center;
  background: var(--red-100);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--white-500);
  font-weight: 400;
}

.iconPdf {
  color: var(--red-600);
  filter: drop-shadow(0px 0px 10px var(--white-800));
}

.btnReject:hover {
  background: var(--red-300);
  color: var(--white-50);
}

.documentsBox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  /* padding: 15px; */
  margin-bottom: 5em;
}

.boxImageDoc {
  flex: 1;
}

.boxImageDoc h3 {
  font-weight: 600;
  color: var(--green-800);
  margin-bottom: 10px;
}

.titleDocs {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 10px;
}

.barDocs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.docBox {
  flex-basis: 200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: var(--white-100); */
  padding: 10px 15px;
  border-radius: 16px;
  border: 1px solid var(--white-200);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.docBox:hover {
  background: var(--white-200);
}

.docBox p {
  font-weight: 800;
  color: var(--white-500);
}

.actionDocument {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1em;
}

.actionDocBox {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.actionDocBox button {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--white-100);
  font-weight: 500;
  color: var(--white-500);
  cursor: pointer;
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
}

.boxVerifyPic .actionDocBox p {
  display: grid;
  place-content: center;
}

.actionDocBox button:hover {
  border: 1px solid var(--white-300);
}

.prevInfoClient {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 2em;
}

.subTitleClient {
  font-weight: 500;
  color: var(--white-500);
}

.centerBoxImage {
  display: flex;
  justify-content: flex-start;
}

.imgDoc {
  width: 300px;
  height: 400px;
}

.titleVery {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 1em;
}

.titleVery h3 {
  color: var(--green-800);
  font-weight: 800;
}

.boxIconVerify {
  display: grid;
  place-content: center;
}

.iconVerify {
  color: var(--green-600);
}

.intraRejectModal {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rejectTextArea {
  width: 97.5%;
  height: 200px;
  outline: none;
  padding: 10px;
  border: 1px solid var(--white-200);
}

.btnRejectReady {
  padding: 10px 15px;
  outline: none;
  background: var(--green-100);
  border: 1px solid var(--green-200);
  border-radius: 8px;
  cursor: pointer;
}

.btnRejectReady:hover {
  border: 1px solid var(--green-400);
}

.boxCantity {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btnChangeCantity {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px 10px;
  background: var(--green-50);
  border: 1px solid var(--green-200);
  border-radius: 8px;
  cursor: pointer;
}

.btnChangeCantity:hover {
  border: 1px solid var(--green-400);
}

.boxIConPencil {
  display: grid;
  place-content: center;
}

.iconPensil {
  color: var(--green-800);
}

.btnChangeCantity p {
  display: grid;
  place-content: center;
}

.inputPrice {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--white-300);
  border-radius: 6px;
}
.boxImageDoc .documentsBox {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {
  .centerBoxImage {
    display: flex;
    justify-content: flex-start;
  }

  .imgDoc {
    width: 200px;
    height: 300px;
    transform: rotate(360deg);
  }

  .imgDocVery {
    width: 300px;
    height: auto;
  }

  .boxVerifyPic {
    margin-top: 2em;
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .prevInfoClient {
    display: flex;
    flex-direction: column;
  }
}
