@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.containerWarn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--blue-50);
  padding: 10px;
  border-radius: 8px;
}

.reasonText {
  display: grid;
  place-content: center;
}

.boxStatus {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.boxIconStatus {
  display: grid;
  place-content: center;
}

.iconSpiner {
  animation: spin 2s linear infinite;
}
